* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #87cefa;
    overflow: hidden;
}

.header {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 30px;
    height: 50px;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.tutorial-main {
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.left-bar {
    width: 15%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

.left-bar>a {
    text-decoration: none;
    color: #34526c;
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
    height: 30px;
}

.array {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.main-part {
    width: 85%;
}

.control {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
    width: 100%;
    background-color: rgb(161, 161, 161);
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 0;
}

.hide-control {
    position: fixed;
    right: 50px;
    top: 50px;
}

.set-array {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
}

.set-array>input {
    width: 500px;
}

.bars {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 150px;
}

.element {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-sort {
    display: none;
}

.bar {
    width: 10px;
    background-color: #66aef1;
}

.bar-sort {
    width: 10px;
    background-color: #66aef1;
}

.value {
    color: #000;
}

.graph-code {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#svg {
    width: 70%;
    height: 700px;
    border: 1px solid rgb(0, 0, 0);
}

.code-area {
    width: 30%;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
}

.code {
    font-size: 14px;
    line-height: 20px;
    margin-left: 4px;
}

pre {
    tab-size: 4;
}

.sort {
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px auto;
    user-select: none;
}

.sort:hover {
    color: brown;
}


/* Home */

.homepage {
    width: 100%;
    margin-top: 50px;
}

.cover {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.title {
    margin: 50px auto;
    font-size: 40px;
    color: rgb(0, 217, 255);
    font-weight: bold;
}

.enters {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.enter {
    width: 120px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.enter:hover {
    color: white;
    background-color: black;
}


/*  */

.intros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.intro {
    background-color: #87cefa;
    width: 80%;
    height: calc(100vh - 50px);
    position: relative;
    display: flex;
    flex-direction: column;
}

.intro-texts {
    width: 80%;
    margin: auto;
}

.intro-text {
    align-self: center;
    margin-right: 800px;
}

.intros>a {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.intro>a {
    position: absolute;
    bottom: 15px;
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    align-self: center;
}

.intros a:hover {
    opacity: .5;
}

.intros a span {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scrollDown 1.5s infinite;
    animation: scrollDown 1.5s infinite;
    box-sizing: border-box;
}

.intro-texts {
    color: #34526c;
}

.intro-chinese {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
}

.intro-eng {
    font-size: 120px;
}

@-webkit-keyframes scrollDown {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes scrollDown {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.about {
    height: 500px;
    background-color: #34526c;
}

.close-about {
    position: absolute;
}

.top-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #645a51;
    color: #90cebc;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.top-button:hover {
    right: 35px;
    bottom: 35px;
    width: 60px;
    height: 60px;
    font-size: 45px;
    line-height: 65px;
}