* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    /* overflow: hidden; */
}

.header {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 30px;
    height: 50px;
    text-align: center;
}

.left-bar {
    width: 15%;
    height: calc(100vh - 50px);
    border: 1px solid rgb(0, 0, 0);
}

.array {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.main-part {
    width: 85%;
}

.control {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
    background-color: rgb(161, 161, 161);
    color: white;
    font-size: 20px;
}

.set-array {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
}

.set-array>input {
    width: 500px;
}

.bars {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 150px;
}

.element {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-sort {
    display: none;
}

.bar {
    width: 10px;
    background-color: #66aef1;
}

.bar-sort {
    width: 10px;
    background-color: #66aef1;
}

.value {
    color: #000;
}

.graphs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#svg {
    width: 70%;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
}

.code-area {
    width: 30%;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
}

.code {
    font-size: 14px;
    line-height: 20px;
    margin-left: 4px;
}

pre {
    tab-size: 4;
}

.sort {
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px auto;
    user-select: none;
}

.sort:hover {
    color: brown;
}