* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    /* background-color: #fafafa; */
    background-color: #bce5ff;
    overflow: hidden;
}


/* Header */

.header {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 40px;
    height: 50px;
    text-align: center;
    position: fixed;
    z-index: 100;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 50px;
}


/* Left Bar */

.left-bar {
    width: 15%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.left-bar>a {
    text-decoration: none;
    color: #34526c;
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
    height: 30px;
}

.left-bar>a:hover {
    color: #13a9c7;
}

#current-title {
    color: #fff;
}

.array {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.main-part {
    width: 85%;
}


/* Control panel */

.control {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    width: 85%;
    background-color: #13a9c7;
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 0;
}

.hide-control {
    position: fixed;
    right: 0px;
    bottom: 200px;
    width: 85%;
    height: 30px;
    background-color: #13a9c7;
    border: 1px solid #000;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    cursor: pointer;
}

.hide-control:hover {
    width: 85%;
    height: 35px;
    right: 0px;
    border: 3px solid #000;
    border-bottom: none;
    font-weight: bold;
}

.left-control {
    width: 50%;
    border-right: 1px solid #fff;
}

.right-control {
    width: 50%;
    border-left: 1px solid #fff;
}

.control-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.set-array {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    height: 35px;
}

.set-array div:first-child {
    width: 150px;
}

.set-array div:last-child {
    width: 100px;
    cursor: pointer;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 5px;
}

.set-array div:last-child:hover {
    font-weight: bold;
}

.set-array>input {
    width: 50%;
    border: none;
    background-color: #bce5ff;
    font-size: 20px;
}

.set-array>input:focus {
    background-color: #fff;
}

.color-picks {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.color-pick {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    height: 35px;
    line-height: 35x;
    margin-bottom: 10px;
}

.color-pick>label {
    width: 70%;
}

.color-pick>input {
    height: 35px;
    width: 70px;
}


/* Animation Control */

.animation-control {
    position: absolute;
    width: 300px;
    height: 100px;
    border: 2px solid #999999;
    border-radius: 10px;
    background-color: #13a9c7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

#drag {
    position: absolute;
}

#dragheader {
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: cadetblue;
    border-radius: 8px 8px 0 0;
    cursor: grab;
}

#dragheader:active {
    color: #fff;
    cursor: grabbing;
}

#dragbody {
    width: 95%;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#dragbody>div {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin: 5px auto 2px;
    /* background-color: darkturquoise; */
    cursor: pointer;
}

#dragbody>div>img {
    width: 100%;
    height: 100%;
}

#speed-control {
    height: 25px;
    line-height: 25px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#speed-control>input {
    width: 75%;
}


/* Old div */

.bars {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 150px;
}

.element {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-sort {
    display: none;
}

.bar {
    width: 10px;
    background-color: #66aef1;
}

.bar-sort {
    width: 10px;
    background-color: #66aef1;
}

.value {
    color: #000;
}


/* Tutorial */

.tutorial-main {
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.graph-code {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.control-button {
    position: fixed;
    top: 275px;
    left: 20%;
    display: flex;
    flex-direction: row;
    width: 125px;
    justify-content: space-between;
}

.sort {
    width: 50px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px auto;
    user-select: none;
}

.sort:hover {
    color: brown;
}


/* SVG */

#svg {
    width: 70%;
    height: calc(100vh - 50px);
    border: 1px solid rgb(0, 0, 0);
    border-top: none;
    border-bottom: none;
    background-color: #fafafa;
}


/* Code */

.code-area {
    width: 30%;
    height: calc(100vh - 50px);
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: #fafafa;
    padding: 10px;
}

.code {
    font-size: 16px;
    line-height: 24px;
    margin-left: 4px;
    margin-bottom: 16px;
}

pre {
    tab-size: 4;
}


/* Home */

.homepage {
    width: 100%;
    margin-top: 50px;
}

.cover {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #fafafa;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cover>img {
    width: 80%;
    height: auto;
    opacity: 0.5;
}

.title {
    font-size: 80px;
    color: #5cc0ff;
    font-weight: bold;
    margin-bottom: 60px;
}

.enters {
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.enters a {
    text-decoration: none;
    color: #34526c;
}

.enter {
    width: 120px;
    height: 50px;
    border: 1px solid #34526c;
    border-radius: 10px;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.enter:hover {
    color: #5cc0ff;
    background-color: #34526c;
}


/* Home-Intro */

.intros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.intro {
    background-color: #86c2f0;
    width: 80%;
    height: calc(100vh - 50px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-texts {
    width: 80%;
    color: #34526c;
}

.intro-text {
    position: relative;
    z-index: 5;
    align-self: center;
    width: 90%;
    font-size: 20px;
}

.intro-title {
    width: 70%;
    height: 150px;
    /* padding-top: 50px; */
    font-family: 'Noto Sans TC', sans-serif;
    position: relative;
    user-select: none;
    margin-bottom: 10px;
}

.intro-title span {
    display: block;
}

.intro-ch {
    position: absolute;
    font-size: 80px;
    line-height: 100px;
    font-weight: bold;
    z-index: 5;
    display: block;
}

.intro-ch:hover {
    color: #18a7ff;
}

.intro-eng {
    position: absolute;
    left: 250px;
    bottom: 20px;
    line-height: 100px;
    font-size: 130px;
    font-weight: 400;
    color: lightblue;
    z-index: 2;
    display: block;
    /* text-shadow: -2px 0 #34526c, 0 2px #34526c, 2px 0 #34526c, 0 -2px #34526c; */
}

.intro img {
    position: absolute;
    right: 50px;
    top: 150px;
    width: 300px;
    height: auto;
    z-index: 1;
    opacity: 0.55;
}

.about {
    height: 500px;
    background-color: #34526c;
}

.close-about {
    position: absolute;
}

.top-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #645a51;
    color: #90cebc;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.top-button:hover {
    right: 35px;
    bottom: 35px;
    width: 60px;
    height: 60px;
    font-size: 45px;
    line-height: 65px;
}

.intros>a {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.intro>a {
    position: absolute;
    bottom: 15px;
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    align-self: center;
}

.next-part:hover {
    opacity: .5;
}

.next-part>span {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scrollDown 1.5s infinite;
    animation: scrollDown 1.5s infinite;
    box-sizing: border-box;
}

#first-v>span {
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

@-webkit-keyframes scrollDown {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes scrollDown {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}